extends layout

block content
  if error
    p Ein Fehler ist aufgetreten.
  else
  h1(class="display-4 p-3 text-center") Gewürz anlegen
  div(class="container w-75")
   div(class="row")
    div(class="col")
      form(method="post" action="anlegen")
        div(class="form-group row")
          label(class="col-sm-2 col-form-label") Name
          div(class="col-sm-10")
            input(type="text" class="form-control" name="name" id="name" placeholder="Name")
            p #{err}
        div(class="form-group row")
          label(class="col-sm-2 col-form-label") BildLink
          div(class="col-sm-10")
            input(type="link" class="form-control" name="thumbnail" id="thumbnail" placeholder="Link")
      
        div(class="form-group row")
          label(class="col-sm-2 col-form-label") Beschreibung 
          div(class="col-sm-10")
            textarea(class="form-control" name="description" id="description" rows="3")

        fieldset(class="form-group")
          div(class="row")
            legend(class="col-form-label col-sm-2 pt-0") Lagerbestand
            div(class="col-sm-10")
              div(class="form-check")
                input(class="form-check-input" type="radio" name="inStock" id="aufLager" value="Auf Lager" checked)
                label(class="form-check-label" for="aufLager")
                  First Auf Lager
          
              div(class="form-check")
                input(class="form-check-input" type="radio" name="inStock" id="bestellbar" value="Bestellbar")
                label(class="form-check-label" for="bestellbar")
                  Second Bestellbar
          
              div(class="form-check")
                input(class="form-check-input" type="radio" name="inStock" id="ausverkauft" value="Ausverkauft")
                label(class="form-check-label" for="ausverkauft")
                  Third Ausverkauft

        fieldset(class="form-group")
          div(class="row")
            legend(class="col-form-label col-sm-2 pt-0") Zustand
            div(class="col-sm-10")
              div(class="form-check")
                input(class="form-check-input" type="radio" name="state" id="stateDry" value="getrocknet" checked)
                label(class="form-check-label" for="stateDry")
                  First getrocknet
          
              div(class="form-check")
                input(class="form-check-input" type="radio" name="state" id="stateFresh" value="frisch")
                label(class="form-check-label" for="stateFresh")
                  Second frisch
          

        div(class="form-group row")
          div(class="col-sm-10")
            button(type="submit" class="btn btn-main-2") Anlegen

        if message == "Erfolgreich gespeichert!"
           p(class="bg-success text-center w-25") #{message}
        else 
           p(class="bg-danger text-center w-25") #{message} 