extends layout

block content
 div(class="container-fluid p-3  text-center m-auto")
   div(class="row")
     div(class="col-12 p-0")


        if error
          p Ein Fehler ist aufgetreten.
        else
          div(class='container-fluid pt-5 pb-5')
            h2(class="pb-1 pt-1 display-4") Gewürze nach Zustand
            div(class='row pt-5 pb-5')
              div(class='col-md-6 border p-5 cat-card' style='background-image : url(/images/driedHerbs.jpg);')
                a(class="link text-white display-4 " href="/produkte/gewuerze/getrocknet")
                  p Getrocknet
              div(class='col-md-6 border p-5 cat-card' style='background-image : url(/images/freshHerb.jpg);')
                a(class="link text-white display-4" href="/produkte/gewuerze/frisch")
                  p Frisch
            h2(class="pb-1 pt-1 display-4") Gewürze nach Zutat
            div(class='row pt-5 pb-5')
              div(class='col-md-6 border p-5 cat-card' style='background-image : url(/images/meat2.jpg);')
               a(class="link text-white display-4" href="/produkte/gewuerze/fleisch" )
                p Zu Fleisch
              div(class='col-md-6 border p-5 cat-card' style='background-image : url(/images/fish2.jpg);')
               a(class="link text-white display-4" href="/produkte/gewuerze/fisch" )
                p zu Fisch 
              div(class='col-md-6 border p-5 cat-card'  style='background-image : url(/images/vegetables.jpg);')
               a(class="link text-white display-4" href="/produkte/gewuerze/gemuese")
                p zu Gemüse 
              div(class='col-md-6 border p-5 cat-card' style='background-image : url(/images/fruits.jpg);')
               a(class="link text-white display-4" href="/produkte/gewuerze/obst" )
                p zu Obst 
              

            
          